.maplibregl-legend-list {
	display: none
}

.maplibregl-legend-list {
	overflow-y: scroll;
	max-height: 70vh;
	margin: .3em
}

.maplibregl-ctrl-group .maplibregl-legend-list button {
	background: none;
	border: none;
	cursor: pointer;
	display: block;
	height: auto
}

.maplibregl-legend-list button.active {
	font-weight: bold
}

.maplibregl-legend-list button:hover {
	background-color: rgba(0, 0, 0, .05)
}

.maplibregl-legend-list button+button {
	border-top: 1px solid #ddd
}

.maplibregl-legend-switcher {
	background: url('data:image/svg+xml;charset=UTF-8,<svg height="124pt" viewBox="0 0 124 124" width="121pt" xmlns="http://www.w3.org/2000/svg"><path d="M -0.5,74.5 C -0.5,66.5 -0.5,58.5 -0.5,50.5C 5.54912,25.964 20.8825,10.464 45.5,4C 63.9571,0.324652 80.6237,4.15799 95.5,15.5C 95.3333,15.8333 95.1667,16.1667 95,16.5C 91.5211,19.4843 87.8544,22.1509 84,24.5C 63.6423,12.6428 44.4756,14.3094 26.5,29.5C 10.1157,48.1063 8.28239,68.1063 21,89.5C 39.5875,110.282 61.0875,113.782 85.5,100C 98.3548,89.7983 105.021,76.465 105.5,60C 109.48,57.401 113.313,54.5676 117,51.5C 121.544,83.5791 109.044,106.079 79.5,119C 49.0113,127.795 24.8446,119.295 7,93.5C 3.33454,87.5214 0.834541,81.1881 -0.5,74.5 Z M 104.5,26.5 C 106.371,26.8588 107.871,27.8588 109,29.5C 110.688,32.2258 112.188,35.0592 113.5,38C 95.1303,50.8497 77.1303,64.1831 59.5,78C 58.8333,78.6667 58.1667,78.6667 57.5,78C 50.9029,72.9086 43.9029,68.4086 36.5,64.5C 35.1667,58.5 35.1667,52.5 36.5,46.5C 42.9929,50.5057 49.3262,54.6724 55.5,59C 57.1667,59.6667 58.8333,59.6667 60.5,59C 75.0653,48.0461 89.732,37.2127 104.5,26.5 Z"/></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70%
}

.maplibregl-legend-switcher {
	background: url('data:image/svg+xml;charset=UTF-8,<svg height="124pt" viewBox="0 0 124 124" width="121pt" xmlns="http://www.w3.org/2000/svg"><path d="M -0.5,74.5 C -0.5,66.5 -0.5,58.5 -0.5,50.5C 5.54912,25.964 20.8825,10.464 45.5,4C 63.9571,0.324652 80.6237,4.15799 95.5,15.5C 95.3333,15.8333 95.1667,16.1667 95,16.5C 91.5211,19.4843 87.8544,22.1509 84,24.5C 63.6423,12.6428 44.4756,14.3094 26.5,29.5C 10.1157,48.1063 8.28239,68.1063 21,89.5C 39.5875,110.282 61.0875,113.782 85.5,100C 98.3548,89.7983 105.021,76.465 105.5,60C 109.48,57.401 113.313,54.5676 117,51.5C 121.544,83.5791 109.044,106.079 79.5,119C 49.0113,127.795 24.8446,119.295 7,93.5C 3.33454,87.5214 0.834541,81.1881 -0.5,74.5 Z M 104.5,26.5 C 106.371,26.8588 107.871,27.8588 109,29.5C 110.688,32.2258 112.188,35.0592 113.5,38C 95.1303,50.8497 77.1303,64.1831 59.5,78C 58.8333,78.6667 58.1667,78.6667 57.5,78C 50.9029,72.9086 43.9029,68.4086 36.5,64.5C 35.1667,58.5 35.1667,52.5 36.5,46.5C 42.9929,50.5057 49.3262,54.6724 55.5,59C 57.1667,59.6667 58.8333,59.6667 60.5,59C 75.0653,48.0461 89.732,37.2127 104.5,26.5 Z"/></svg>');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 70%
}

table.legend-table {
	border-collapse: collapse;
	margin: 0 auto
}

td.legend-table-td,
th.legend-table-th {
	border: 1px solid #fff;
	margin: 10px;
	padding: 2px;
	text-align: left
}

.maplibregl-legend-close-button {
	position: absolute;
	right: 0;
	top: 0;
	border: 0;
	border-radius: 0 3px 0 0;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0);
	font-size: 13px;
	padding-top: 5px;
	padding-right: 5px
}

.maplibregl-legend-title-label {
	font-size: 14px;
	font-weight: bold;
	margin: 5px;
	color: #1c1c1c
}

.maplibregl-legend-onlyRendered-checkbox {
	margin: 5px;
	margin-left: .5em
}

.maplibregl-legend-onlyRendered-label {
	font-size: 14px;
	margin: 5px;
	color: #1c1c1c
}

td.legend-table-td>svg {
	height: 17px
}

td.legend-table-td>label {
	color: #1c1c1c
}
